$bg:'../img/bgslide.jpg';
* {
    outline: none;
}
body {
    background-image: url($bg);
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
}
.row {
    margin: 0;
}
.col-* {
    margin-left: 15px;
    margin-right: 15px;
}
a{
    &:hover{
        text-decoration: none;
    }
}
//style H4
h4{
    position: relative;
    padding-bottom: 20px;
    &.title-symbole {
        &::before {
            content: "X";
            font-size: 15px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
//big title block style
.big-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    opacity: .05;
    position: absolute;
    top: 15px;
    width: 100%;
    font-weight: 900;
    line-height: 10px;
    &-vertical {
        @extend .big-title;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        font-size: 40px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        width: 20px;
    }
}

.block-content {
    padding: 40px 0;
    position: relative;
    margin: 20px 0;
}
//bold title style
.title-bold {
    font-family:$font-family-sans-serif;
    font-weight: bold;
}

//style rating star
.rating-star{
    margin-bottom: 20px;
    .checked {
        color: orange;
    }
    .fa{
        font-weight: 100;
        font-size: 11px;
        &.checked{
            font-weight: 900;
        }
    }
    .rating-note {
        color: $gray-500;
        font-size: 12px;
    }
}

@include media-breakpoint-up(lg) {
    .block-content {
        margin: 90px 0;
    }
    .big-title {
        font-size: 140px;
        &-vertical {
            font-size: 80px;
        }
    }
}

//portrait 
@include media-breakpoint-down(xl){
    html.portrait {
        background: url('../img/tablet-landscape.png')  no-repeat center center;
        background-size: contain;
        body {
            display: none;
        }    
    }
    html.landscape {
        background: none;
        body {
            display: block;
        }
    }
}
//landscape
@include media-breakpoint-down(sm) {
    html.landscape {
        background: url('../img/mobile-landscape.png')  no-repeat center center;
        background-size: contain;
        body {
            display: none;
        }
    }
    html.portrait {
        background: none;
        body {
            display: block;
        }
    }
}